{% extends 'layouts/base.html' %}
{% block stylesheets %}
<style>
  /* Set map size */
  #map {
      width: 100%;
      height: 500px;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<h1>Interactive Leaflet Map</h1>

<div id="map"></div>

<!-- Include Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Optionally add Leaflet Draw JS for drawing tools -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-draw/0.4.11/leaflet.draw.js"></script>

<script>
    // Create map object
    var map = L.map('map').setView([35.66190861441717, 51.405578923969244], 13); // Set initial coordinates and zoom level

    // Add OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add a marker to the map on click
    var markers = L.layerGroup().addTo(map);

    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;
        var marker = L.marker([lat, lon]).addTo(markers);
        marker.bindPopup("<b>Latitude: " + lat + "<br>Longitude: " + lon + "</b>").openPopup();
    });

    // Enable drawing tools (markers, polylines)
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);

    var drawControl = new L.Control.Draw({
        edit: {
            featureGroup: drawnItems
        }
    });
    map.addControl(drawControl);

    // Handle drawing event (when a polyline is drawn, for example)
    map.on('draw:created', function (e) {
        var layer = e.layer;
        drawnItems.addLayer(layer);

        // Log the coordinates of the drawn polyline or marker
        if (layer instanceof L.Polyline) {
            console.log('Polyline coordinates:', layer.getLatLngs());
        } else if (layer instanceof L.Marker) {
            console.log('Marker coordinates:', layer.getLatLng());
        }
    });
</script>


{% endblock %}
