{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} ایجاد خودرو جدید {% endblock title %}


{% block stylesheets %}
    <!-- Persian Datepicker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">

    <!-- jQuery (Required) -->


    <!-- PersianDate and PersianDatepicker JS -->
    <script src="https://cdn.jsdelivr.net/npm/persian-date/dist/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">

{% endblock stylesheets %}

{% block content %}




<div class="container">
    <div class="form-container">
        {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}:</strong>
                    <ul>
                        {% for error in errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="block-fields">
                <p class="inline-fields"> {{ form.as_p }} </p>
            </div>
            <p><button type="submit" class="submit-btn">ثبت خودرو</button></p>

        </form>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $(".jalali-datepicker").persianDatepicker({
            format: 'YYYY-MM-DD',
            autoClose: true,
            calendar:{
                persian: {
                    locale: 'fa',
                    showHint: true,
                    leapYearMode: "algorithmic" 
                }
            }
        });
    });
    </script>
{% endblock javascripts %}
