<a href="{% url 'transportation:car_create' %}" class="btn btn-success mb-3">ایجاد خودرو جدید</a>
<a href="{% url 'transportation:cars_maintenance_detail_list' %}" class="btn btn-warning mb-3">وضعیت خودروها</a>
    <table class="table">
        <thead>
            <tr>
                <th>پلاک خودرو</th>
                <th>تاریخ ایجاد</th>
                <th>وضعیت</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.car_license_plate }}</td>
                <td>{{ car.created_at }}</td>
                <td>
                    {% if car.status == 'available' %}
                    <p class="btn btn-primary btn-sm">آماده به کار</p>
                    {% elif car.status == 'fixing' %}
                    <p class="btn btn-secondary btn-sm">در تعمیرگاه</p>
                    {% else %}
                    <p class="btn btn-warning btn-sm">در ماموریت</p>
                    {% endif %}
                </td>
                <td>
                    {% if car.status == 'at work' %}
                        <a href="#" class="btn btn-dark btn-sm">قفل تنظیمات به دلیل ماموریت باز</a>
                    {% else %}
                        <a href="{% url 'transportation:car_update' car.pk %}" class="btn btn-warning btn-sm">بروزرسانی</a>
                        <a href="{% url 'transportation:car_delete' car.pk %}" class = "btn btn-danger btn-sm">حذف</a>
                        <a href="{% url 'transportation:car_maintenance' car.pk %}" class = "btn btn-info btn-sm">تنظیمات</a>
                    {% endif %} 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>