{% extends 'layouts/base.html' %}

{% block content %}

<div class="container" >
    <br>
    <h2>رانندگان</h2>
    <form hx-get="{% url 'transportation:driver_list' %}" hx-target="#driver-table" hx-trigger="change">
        <div class="block-fields">
            <p class="inline-fields">
                 {{ form.sertification.label }}{{ form.sertification }}
                 {{ form.experience.label }}{{ form.experience }}
                 {{ form.is_available.label }}{{ form.is_available }}

            </p>
        </div>
    </form>
    
    <div id="driver-table">
        {% include 'transportation/driver_table.html' %}
    </div>

    {% endblock %}
</div>