{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <br>
    <h2>رانندگان</h2>
    <a href="{% url 'transportation:driver_create' %}" class="btn btn-success mb-3">ایجاد راننده جدید</a>
    <table class="table">
        <thead>
            <tr>
                <th>نام و نام‌خوانوادگی</th>
                <th>تاریخ ایجاد</th>
                <th>وضعیت راننده</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.first_name }} {{ driver.last_name }}</td>
                <td>{{ driver.created_at }}</td>
                <td>{{ driver.is_available }}</td>
                <td>
                    <a href="{% url 'transportation:driver_update' driver.pk %}" class="btn btn-warning btn-sm">بروزرسانی</a>
                    <a href="{% url 'transportation:driver_delete' driver.pk %}" class = "btn btn-danger btn-sm">حذف</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>