{% extends 'layouts/base.html' %}

{% block content %}

<div class="container" >
    <br>
    <h2>اعلان‌ها</h2>
    <form hx-get="{% url 'transportation:notification_list' %}" hx-target="#notification-table" hx-trigger="change">
        <div class="block-fields">
            <p class="inline-fields">
                {{ form }}
            </p>
        </div>
    </form>
    
    <div id="notification-table">
        {% include 'transportation/notification_table.html' %}
    </div>

    {% endblock %}
</div>