{% extends 'layouts/base.html' %}
{% block content %}

<div class="container" >
    <br>
    <h2>ماموریت ها</h2>
    <form hx-get="{% url 'transportation:task_list' %}" hx-target="#task-table" hx-trigger="change">
        <div class="block-fields">
            <p class="inline-fields">
                 {{ form.duration.label }}{{ form.duration }}
                 {{ form.status.label }}{{ form.status }}
            </p>
        </div>
    </form>
    
    <div id="task-table">
        {% include 'transportation/task_table.html' %}
    </div>

    {% endblock %}
</div>