{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}بروزرسانی ماموریت{% endblock title %}

{% block stylesheets %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}"> {% endcomment %}
{% endblock stylesheets %}



{% block content %}
<div class="container">
    <div><h2>بروزرسانی ماموریت</h2></div>
    <div class="form-container">
        {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}:</strong>
                    <ul>
                        {% for error in errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="block-fields">
                <p> {{ form.as_p }} </p>
            </div>

            <p><button value="submit" class="btn btn-primary">بروزرسانی ماموریت</button></p>
        </form>
    </div>
    
</div>

{% endblock content %}


{% block javascripts %}
<script>
    flatpickr("#datetimepicker", {
        enableTime: true,
        dateFormat: "Y-m-d",
    });
</script>
{% endblock javascripts %}
