{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-md-inline-block mr-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark btn btn-sm btn-primary">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home "></i></a></li>
                  <li class=""><a href="#">داشبورد</a></li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-left">
              <!-- <a href="#" class="btn btn-sm btn-neutral">جدید</a> -->
              <a href="{% url 'transportation:notification_list' %}" class="btn btn-sm btn-primary">گزارشگیری لحظه‌ای</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0"> تعداد خودروها</h5>
                      <span class="h2 font-weight-bold mb-0"><h4>{{ cars_info.all_cars }}</h4></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                        <a href="{% url 'transportation:car_list' %}"><i class="ni ni-bus-front-12"></i></a>
                      </div>
                    </div>
                  </div>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-success ml-2">فعال</span>
                    <span class="text-nowrap">{{ cars_info.available_cars }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-warning ml-2">در ماموریت</span>
                    <span class="text-nowrap">{{ cars_info.atwork_cars }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-info ml-2">در حال تعمیر</span>
                    <span class="text-nowrap">{{ cars_info.fixing_cars }}</span>
                  </strong></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">تعداد رانندگان</h5>
                      <h4>{{ drivers_info.all_drivers }}</h4>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                        <a href="{% url 'transportation:driver_list' %}"><i class="ni ni-single-02"></i></a>
                      </div>
                    </div>
                  </div>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-success ml-2">فعال</span>
                    <span class="text-nowrap">{{ drivers_info.available_drivers }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-warning ml-2">در ماموریت</span>
                    <span class="text-nowrap">{{ drivers_info.atwork_drivers }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-info ml-2">مرخص</span>
                    <span class="text-nowrap">{{ drivers_info.abscense_drivers }}</span>
                  </strong></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">تعداد ماموریت‌ها</h5>
                      <span class="h2 font-weight-bold mb-0"><h4>{{ tasks_info.all_tasks }}</h4></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                        <a href="{% url 'transportation:task_list' %}"><i class="ni ni-briefcase-24"></i></a>
                      </div>
                    </div>
                  </div>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-warning ml-2">درحال انجام</span>
                    <span class="text-nowrap">{{ tasks_info.open_tasks }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-success ml-2">انجام شده</span>
                    <span class="text-nowrap">{{ tasks_info.closed_tasks }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-danger ml-2">تاخیر دار</span>
                    <span class="text-nowrap">{{ tasks_info.lated_tasks }}</span>
                  </strong></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">تعداد اعلان‌ها</h5>
                      <span class="h2 font-weight-bold mb-0"><h4>{{ notification_info.all_notifications }}</h4></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                        <a href="{% url 'transportation:task_list' %}"><i class="ni ni-bell-55"></i></a>
                      </div>
                    </div>
                  </div>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-success ml-2">اعلان‌های معمولی</span>
                    <span class="text-nowrap">{{ notification_info.normal_notifications }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-warning ml-2">اعلان‌های مهم</span>
                    <span class="text-nowrap">{{ notification_info.warning_notifications }}</span>
                  </strong></p>
                  <p class="mt-0 mb-0 text-xs"><strong>
                    <span class="text-danger ml-2">اعلان‌های فوری</span>
                    <span class="text-nowrap">{{ notification_info.urgant_notifications }}</span>
                  </strong></p>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-3">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h5>ماموریت های انجام شده در روز های مختلف این هفته</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart" background-color="black">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9">
          <div class="card" background-color="black">
              <div class="col">
                <br>
                <h3>نقشه بصری ماموریت ها</h3>
                <div id="map">{{ map|safe }}</div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0" style="color : black">وضعیت رانندگان</h3>
                </div>
                <div class="col text-left">
                  <a href="#!" class="btn btn-sm btn-primary">نمایش همه</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">راننده</th>
                    <th scope="col">شماره تماس راننده</th>
                    <th scope="col">شماره بیمه</th>
                    <th scope="col">میزان تجربه راننده</th>
                  </tr>
                </thead>
                <tbody>
                  {% for driver in drivers_info.drivers %}
                    <tr>
                      <th class="direction-ltr" scope="row">
                        {{ driver.first_name }} {{ driver.last_name }}
                      </th>
                      <td>
                        {{ driver.driver_phone_number }}
                      </td>
                      <td>
                        {{ driver.insurance_num }}
                      </td>
                      <td>
                        {{ driver.experience }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0" style="color : black">آخرین وضعیت خودروها</h3>
                </div>
                <div class="col text-left">
                  <a href="{% url 'transportation:car_list' %}" class="btn btn-sm btn-primary">نمایش همه</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">خودرو</th>
                    <th scope="col">میزان کارکرد</th>
                    <th scope="col">میزان سوخت</th>
                    <th scope="col">نوع سوخت</th>
                  </tr>
                </thead>
                <tbody>
                  {% for car in cars_info.cars %}
                      <tr>
                        <th scope="row">
                          {{ car.car_license_plate }}
                        </th>
                        <td>
                          {{ car.initial_usage }}
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="ml-2">{{ car.fuel_mount }}%</span>
                            <div>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{ car.fuel_mount }}" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                        {% if car.fuel == 'Diesel' %}
                          گازوئیل
                        {% elif car.fuel == 'gas' %}
                          گاز
                        {% else %}
                          بنزین
                        {% endif %}
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- 
<script src="/static/assets/js/plot1.js"></script>
<script src="/static/assets/js/plot2.js"></script>-->
<!-- <script src="/static/assets/js/main.js"></script>  -->

<style>
  /* Set map size */
  #map {
      width: 100%;
      height: 430px;
      border-radius: 8px;

  }

</style>

            <!-- Optionally add Leaflet Draw JS for drawing tools -->
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-draw/0.4.11/leaflet.draw.js"></script>

            <script>
                // Create map object
                var map = L.map('map').setView([35.66190861441717, 51.405578923969244], 5); // Set initial coordinates and zoom level

                // Add OpenStreetMap tile layer
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                // Add a marker to the map on click
                var markers = L.layerGroup().addTo(map);

                map.on('click', function(e) {
                    var lat = e.latlng.lat;
                    var lon = e.latlng.lng;
                    var marker = L.marker([lat, lon]).addTo(markers);
                    marker.bindPopup("<b>Latitude: " + lat + "<br>Longitude: " + lon + "</b>").openPopup();
                });

                // Enable drawing tools (markers, polylines)
                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);

                var drawControl = new L.Control.Draw({
                    edit: {
                        featureGroup: drawnItems
                    }
                });
                map.addControl(drawControl);

                // Handle drawing event (when a polyline is drawn, for example)
                map.on('draw:created', function (e) {
                    var layer = e.layer;
                    drawnItems.addLayer(layer);

                    // Log the coordinates of the drawn polyline or marker
                    if (layer instanceof L.Polyline) {
                        console.log('Polyline coordinates:', layer.getLatLngs());
                    } else if (layer instanceof L.Marker) {
                        console.log('Marker coordinates:', layer.getLatLng());
                    }
                });
            </script> -->

{% endblock javascripts %}
